.details-page {
  min-height: 100vh;
  background-color: var(--gray15-background-color);
  color: white;
  font-size: var(--small-font);
}
.details-page.light {
  background-color: whitesmoke;
  color: black;
}
.details-content-container {
  margin: 0 2rem;
  padding-bottom: 2rem;
}

.title-wrapper {
  width: fit-content;
}
.title-wrapper > h1 {
  margin: 1.5rem 0;
}

.cover-image-and-trailer-wrapper {
  display: flex;
  margin: 1.5rem 0;
  gap: 2rem;
}
.details-page-cover-image {
  max-width: 300px;
  min-width: 200px;
}
.details-page-trailer {
  width: 100%;
}

.rating-wrapper {
  display: flex;
  width: fit-content;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.15s linear;
}
.rating-wrapper:hover {
  background-color: var(--gray40-background-color);
}
.rating-wrapper.light:hover {
  background-color: var(--gray70-background-color);
}
.rating-wrapper > p {
  margin: 0;
}
.star-icon {
  position: relative;
  width: 25px;
  height: 25px;
  bottom: 3px;
  margin: 0 5px;
}
.rating {
  font-weight: 600;
}

.description {
  max-width: 500px;
  margin-left: 0.75rem;
}

@media only screen and (max-width: 625px) {
  .details-page {
  }
  .cover-image-and-trailer-wrapper {
    flex-direction: column;
  }
  .details-page-cover-image {
    width: 100%;
    max-width: none;
    max-width: 400px;
    align-self: center;
  }
  .details-page-trailer {
    width: 100%;
  }
  .details-page-movie,
  .details-page-tvshow {
    margin: 0 1.5rem;
  }
  .details-page-trailer {
    height: 300px;
  }
}
