.details-page {
  min-height: 100vh;
  background-color: var(--gray15-background-color);
  color: white;
  font-size: var(--small-font);
}
.details-page.light {
  background-color: whitesmoke;
  color: black;
}
.details-content-container {
  margin: 0 2rem;
  padding-bottom: 2rem;
}

.top-part-wrapper {
  display: flex;
}
.title-and-basic-info-wrapper {
  flex-grow: 1;
}

.title-wrapper {
  width: fit-content;
  margin: 1.5rem 0;
}
.title-wrapper > h1 {
  font-size: 4rem;
  margin: 0;
}

.basic-info-wrapper {
  margin: 1.5rem 0;
  padding-left: 0;
  opacity: 0.8;
}
.info-item-wrapper {
  display: inline-block;
}
.info-item-wrapper > li {
  display: inline-block;
  cursor: pointer;
}
.info-item-wrapper > li:hover {
  text-decoration: underline;
}
.info-item-wrapper,
.info-item-wrapper::before {
  vertical-align: middle;
}
.info-item-wrapper:not(:nth-child(1))::before {
  display: inline-block;
  content: "";
  font-size: 1rem;
  padding: 2px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: white;
  margin: 0 0.5rem 0.2rem;
  vertical-align: middle;
}
.basic-info-wrapper.light > :not(:nth-child(1))::before {
  background-color: black;
}
.basic-info-wrapper.light {
  opacity: 1;
}

.tmdb-rating-wrapper {
  align-self: flex-end;
}
.tmdb-rating {
  opacity: 0.8;
  margin: 0;
  font-size: 1rem;
  fill: rgb(245, 197, 24);
  letter-spacing: 1px;
}
.rating-wrapper {
  display: flex;
  padding: 0.1rem 1rem 0.1rem 0.75rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.rating-wrapper:hover {
  background-color: var(--gray25-background-color);
}
.rating-wrapper.light:hover {
  background-color: var(--gray80-background-color);
}
.star-icon {
  width: 40px;
  height: 40px;
  align-self: center;
}
.average-and-total-rating-wrapper {
  display: flex;
  flex-direction: column;
}
.average-rating-wrapper {
  display: flex;
  font-size: 1.35rem;
  letter-spacing: 1px;
}
.average-rating {
  font-weight: 600;
  margin-right: 3px;
}
.vote-highest-mark {
  opacity: 0.8;
  font-size: 1rem;
  align-self: center;
}
.vote-count {
  opacity: 0.8;
  font-size: 0.9rem;
}

.cover-image-and-trailer-wrapper {
  display: flex;
  margin: 1.5rem 0;
  gap: 2rem;
}
.details-page-cover-image {
  max-width: 300px;
  min-width: 200px;
  border-radius: 5px;
  cursor: pointer;
}
.details-page-trailer {
  width: 100%;
}

.genres-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  gap: 1rem;
}
.genre {
  border-radius: 5rem;
  border: 1px solid gray;
  background-color: transparent;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.genre:hover {
  background-color: var(--gray25-background-color);
}
.genre.light:hover {
  background-color: var(--gray80-background-color);
}

.short-description {
  max-width: 50%;
  margin: 1.5rem 0;
}

.light {
  opacity: 1;
}

@media only screen and (max-width: 625px) {
  .details-page {
  }
  .top-part-wrapper {
    flex-wrap: wrap;
  }
  .cover-image-and-trailer-wrapper {
    flex-direction: column;
  }
  .details-page-cover-image {
    width: 100%;
    max-width: none;
    max-width: 400px;
    align-self: center;
  }
  .details-page-trailer {
    width: 100%;
  }
  .details-page-movie,
  .details-page-tvshow {
    margin: 0 1.5rem;
  }
  .details-page-trailer {
    height: 300px;
  }
  .description {
    max-width: none;
  }
}
