.main-page {
  height: 100%;
  min-height: 100vh;
  padding: 1rem 1.5rem;
  padding-bottom: 2rem;
}
.content-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 2rem;
}

.main-page-cover {
  padding: 1.25rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease 0.03s;
  box-shadow: 1px 1px 7px -2px black;
  border-radius: 0.5rem;
  background-color: var(--heavy-gray-background-color);
  cursor: pointer;
  max-width: 400px;
  font-size: var(--medium-font);
}
.main-page-cover.light {
  color: white;
  background-color: var(--high-heavy-gray-background-color);
}
.main-page-cover:hover {
  box-shadow: 0px 0px 50px gray;
  background-color: rgb(250, 250, 250);
  border-radius: 1.25rem;
  transform: scale(1.01);
  color: black;
}
.main-page-cover:hover > .cover-image {
  box-shadow: 0 0 5px black;
  border-radius: 1.25rem;
}
.title-wrapper {
  display: flex;
  align-self: center;
  color: inherit;
  min-height: 2rem;
  margin: 1rem 0;
}
.title-wrapper > h2 {
  margin: auto 0;
  text-align: center;
  color: inherit;
  font-size: inherit;
}

@media only screen and (max-width: 630px) {
  .content-container {
  }
  .main-page-cover {
    justify-self: center;
    max-width: 300px;
  }
}
