*,
*::after,
*::before {
  box-sizing: border-box;
}
p {
  /* margin: 0; */
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-size: var(--medium-font);
  transition: background-color 5000s ease-in-out 0s;
}
input::placeholder {
  user-select: none;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --small-font: 1.25rem;
  --medium-font: 1.5rem;
  --large-font: 2rem;
  --x-large-font: 3rem;
  --very-heavy-gray-background-color: hsl(0, 0%, 15%);
  --heavy-gray-background-color: hsl(0, 0%, 25%);
  --high-heavy-gray-background-color: hsl(0, 0%, 30%);
  --medium-heavy-gray-background-color: hsl(0, 0%, 40%);
  --medium-gray-background-color: hsl(0, 0%, 50%);
  --light-medium-gray-background-color: hsl(0, 0%, 60%);
  --light-gray-background-color: hsl(0, 0%, 70%);
  height: auto;
}
body {
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
}

.dark {
  background-color: var(--very-heavy-gray-background-color);
  color: white;
}
.light {
  background-color: white;
  color: black;
}
