*,
*::after,
*::before {
  box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-size: var(--medium-font);
  transition: background-color 5000s ease-in-out 0s;
}
input::placeholder {
  user-select: none;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  height: auto;
  --small-font: 1.25rem;
  --medium-font: 1.5rem;
  --large-font: 2rem;
  --x-large-font: 3rem;
  --gray10-background-color: hsl(0, 0%, 10%);
  --gray15-background-color: hsl(0, 0%, 15%);
  --gray25-background-color: hsl(0, 0%, 25%);
  --gray30-background-color: hsl(0, 0%, 30%);
  --gray35-background-color: hsl(0, 0%, 35%);
  --gray40-background-color: hsl(0, 0%, 40%);
  --gray45-background-color: hsl(0, 0%, 45%);
  --gray50-background-color: hsl(0, 0%, 50%);
  --gray55-background-color: hsl(0, 0%, 55%);
  --gray60-background-color: hsl(0, 0%, 60%);
  --gray70-background-color: hsl(0, 0%, 70%);
}
body {
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
}
