:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
}

.form-wrapper {
  margin: 0 3rem;
}

.change-page-button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 1rem 2rem;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.5rem;
  font-size: 1.2rem;
}
.change-page-button:hover {
  border-color: #646cff;
}
.change-page-button:focus,
.change-page-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.search-bar {
  width: 100%;
  font-size: 1.5rem;
  padding: 5px;
  margin-top: 1rem;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.main-page-movie {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  transition: transform, box-shadow, ease, 0.25s;
  transition-delay: 0.05s;
}

.cover-image {
  width: 100%;
  max-width: 300px;
  height: 300px;
  margin: auto;
  flex-grow: 1;
}

.main-page-movie:hover {
  box-shadow: 0px 0px 70px -40px black;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
  transform: scale(1.01);
}

.movie-title {
  text-align: center;
}

.validation-messages {
  text-align: center;
  opacity: 0.6;
  font-size: 3.2rem;
  line-height: 1.1;
  font-weight: 600;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
