.dark-mode-button-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
.dark-mode-button {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.tmdb-icon {
  width: 90px;
  margin-left: 10px;
  margin-right: 1rem;
  cursor: pointer;
  user-select: none;
}

.validation-message-wrapper {
  text-align: center;
  line-height: 1.1;
  background-color: whitesmoke;
  color: black;
  margin-top: 2rem;
}
.validation-message-wrapper.on-empty-page {
  min-height: 100vh;
  padding-top: 3rem;
  margin-top: 0;
}
.validation-message-wrapper.dark {
  background-color: var(--gray15-background-color);
  color: white;
}
.validation-message-wrapper > h2 {
  font-size: var(--x-large-font);
  margin: 0;
  font-weight: 600;
  opacity: 0.7;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-button-arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  padding: 3.5px;
  position: relative;
  bottom: 0px;
  transform: rotate(45deg);
  -webkit-transform: rotate(135deg);
}
.back-button-text {
  margin: 0 5px;
}

.spinner-wrapper {
  aspect-ratio: 3/4;
  max-width: 330px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-wrapper > img {
  width: 50px;
}
.details-page-spinner-wrapper {
  justify-content: center;
  min-height: 100%;
  position: relative;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, 100%);
}
.details-page-spinner-wrapper > img {
  width: 150px;
}

@media only screen and (max-width: 625px) {
  .validation-message {
    font-size: var(--large-font);
  }
  .dark-mode-button-wrapper {
    justify-content: center;
  }
  .details-page-spinner-wrapper > img {
    width: 100px;
  }
}
