.spinner-wrapper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-wrapper > img {
  width: 50px;
}

.validation-messages {
  text-align: center;
  opacity: 0.6;
  font-size: var(--x-large-font);
  line-height: 1.1;
  font-weight: 600;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-button-arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  padding: 3.5px;
  position: relative;
  bottom: 0px;
  transform: rotate(45deg);
  -webkit-transform: rotate(135deg);
}
.back-button-text {
  margin: 0 5px;
}

/* .hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
} */

@media only screen and (max-width: 600px) {
  .validation-messages {
    font-size: var(--large-font);
  }
  .hamburger-menu {
    display: flex;
  }
}
