.dark-mode-button {
  display: flex;
  align-items: center;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.spinner-wrapper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-wrapper > img {
  width: 50px;
}

.validation-messages {
  text-align: center;
  opacity: 0.6;
  font-size: var(--x-large-font);
  line-height: 1.1;
  font-weight: 600;
}

.back-button {
  border-radius: 0.5rem;
  background-color: transparent;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: var(--medium-font);
  font-weight: 600;
  cursor: pointer;
  transition: background-color ease 0.25s;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  color: white;
}
.back-button:hover {
  background-color: var(--heavy-gray-background-color);
  cursor: pointer;
}
.back-button.light {
  transition: all 0.15s ease 0.05s;
  background-color: var(--medium-heavy-gray-background-color);
}
.back-button.light:hover {
  transition: all 0.15s ease 0.05s;
  background-color: var(--medium-gray-background-color);
}
.back-button-arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  padding: 3.5px;
  position: relative;
  bottom: 0px;
  transform: rotate(45deg);
  -webkit-transform: rotate(135deg);
}
.back-button-text {
  margin: 0 5px;
}

@media only screen and (max-width: 600px) {
  .validation-messages {
    font-size: var(--large-font);
  }
}
